@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --peach: hsl(6, 100%, 80%);
  --bright-pink: hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: url(../../images/bg-mobile.png);
  background-size: cover;
}

main {
  margin: 4rem auto;
  max-width: 375px;
}

section {
  background-color: var(--dark-blue);
  color: var(--pale-blue);
}

.images {
  border-radius: 0 6rem 0 0;
  padding: 2rem 3rem;
}

.images img {
  padding: 1rem 0;
}

.icons img {
  background-color: var(--very-dark-blue);
  border-radius: 1rem;
  padding: 1rem;
}

.space {
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.space p {
  margin-bottom: 0;
}

.space p + span {
  background-color: red;
}

input {
  -webkit-appearance: none;
  background-image: -webkit-linear-gradient(
    right,
    var(--bright-pink),
    var(--peach)
  );
  border-radius: 1rem;
  width: 100%;
}

span {
  font-weight: 700;
}

.zero {
  float: left;
}

.thousand {
  float: right;
}

.left {
  background-color: var(--pale-blue);
  border-radius: 0.5rem;
  color: var(--grayish-blue);
  font-size: 24px;
  font-weight: 700;
  left: 60px;
  padding: 1rem;
  position: relative;
  text-align: center;
  top: 45px;
  width: 180px;
  vertical-align: middle;
}

.number {
  color: var(--very-dark-blue);
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../../images/bg-desktop.png);
    background-position: bottom 50px right;
    background-repeat: no-repeat;
    // background-size: contain;
    height: 95vh;
  }

  main {
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
  }

  .space {
    padding: 1rem;
    width: 40%;
    text-align: left;
  }
  
  .left {
    font-size: 1rem;
    left: 280px;
    top: -165px;
    padding: 0.5rem;
  }
  
  .space .left {
    // width: 0;
    // height: 0;
    // border-left: 50px solid transparent;
    // border-right: 50px solid transparent;
    // border-bottom: 5px solid red;
  }

}
