:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-size:18px;
}

body {
  background:hsl(185, 75%, 39%);
  margin: 0 auto;
  max-width: 375px;
  text-align: center;
}

.img-1 {
  position: absolute;
  left: -5%;
  top: -55%;
  z-index: -1;
}

.img-2 {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -1;
}

.card {
  background-color: #ffffff;
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: top;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 6rem auto;
  max-width: 350px;
  padding-bottom: 1rem;
  z-index: 5;
}

.card img {
  border: 6px solid #ffffff;
  border-radius: 50%;
  margin-top: 25%;
}

.info span {
  font-weight: 700;
}


.info p:nth-child(2) {
  color: hsl(0, 0%, 59%);
  font-size: 0.8rem;
}

hr {
  border: 1px solid hsla(0, 0%, 59%, 0.5);
  width: 90%;
}

.social {
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  padding: 1rem 0 0.5rem 0;
}

.social strong {
  font-size: 20px;
}

.social span {
  color: hsl(0, 0%, 59%);
}

@media(min-width: 768px){
  body {
    margin: auto;
    max-width: 1440px;
  }


}