:root {
  font-size: 16px;
}

main {
  border: 1px solid red;
  color: hsl(207, 13%, 34%);
  font-family: 'Overpass', sans-serif;
  line-height: 2;
  margin: auto;
  max-width: 375px;
  text-align: center;
}

h1,
h2,
h3 {
  color: hsl(208, 49%, 24%);
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.4;
  padding: 0 2rem;
}

p {
  padding: 0 2rem;
}

img {
  display: block;
  // margin: auto;
  max-width: 375px;
}

button {
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
}

.logo {
  padding: 1rem 0;
}

nav {
  background-color: hsl(13, 100%, 72%);
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

// Main content styles

.intro {
  background-image: url(../images/bg-pattern-intro.svg);
}

.infrastructure {
  background-color: hsl(237, 17%, 21%);
}

// Footer styles

.main-footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 2.5rem 0 0;
  color: hsl(0, 0%, 100%);
  padding: 2rem 0;
  text-align: center;
}

.top-nav ul,
.main-footer ul {
  padding: 0;
}

.top-nav li,
.main-footer li {
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
