.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

body {
  background: hsl(0, 0%, 98%);
  font-family: 'Karla', sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
}

nav {
  background: hsl(256, 26%, 20%);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0.5rem 0;
}

nav ul,
footer ul {
  padding: 0;
}

nav a {
  color: #ffffff;
}

nav li,
footer li {
  list-style: none;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a {
  color: hsl(256, 26%, 20%);
  text-decoration: none;
}

footer {
  background-color: hsl(0, 0%, 98%);
  /* background-image: url(./images/bg-pattern-intro-left-mobile.svg) no-repeat; */
  padding: 1rem 0;
}

h4 {
  text-transform: uppercase;
}
