.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  :root {
    font-size: 16px;
  }

  h1,
  h2,
  h3 {
    font-family: 'DM Serif Display', serif;
  }

  body {
    font-family: 'Karla', sans-serif;
  }