.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
}

.header-images {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  font-size: 2.5rem;  
  margin: 0;
}

h2 {
  font-size: 2.5rem;
}

nav {
  background: hsl(256, 26%, 20%);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0.5rem 0;
}

.main-nav {
  display: none;
}

.show-hide {
  display: block;
}

nav ul,
footer ul {
  padding: 0;
}

nav a {
  color: #ffffff;
}

nav li,
footer li {
  list-style: none;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: hsl(256, 26%, 20%);
  text-decoration: none;
}


button,
footer h4 {
  text-transform: uppercase;
}

/* MAIN BODY STYLES */

.mob-hide {
  display: none;
}

.intro {
  background-color: hsl(256, 26%, 20%);
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  /* background-position: bottom right; */
  color: #ffffff;
  padding: 4rem 1rem;
}

.how-we-work {
  background-color: hsl(256, 26%, 20%);
  color: #ffffff;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 6rem;
  padding: 2rem 1rem;
}

.main-nav button, 
.intro button, 
.how-we-work button {
  background: transparent;
  border: 1px solid white;
  color: inherit;
  padding: 0.5rem;
}

.social {
  background-color: hsl(0, 0%, 98%);
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.social-logo {
  padding-bottom: 1.5rem;
}

footer {
  background-color: #FAFAFA;
}

/* DESKTOP STYLES */

@media (min-width:900px){
  body {
    max-width: 1440px;
  }

  .mob-hide {
    display: block;
  }

  .hamburger,
  .desktop-hide {
    display: none;
  }

  /* NAVIGATION STYLES */

  header {
    background-color: #fff;
  }

  header,
  .main-nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .main-nav {
    background-color: #ffffff;
  }

  nav li a {
    color: hsl(256, 26%, 20%);
    padding-right: 1rem;
  }
  
  .main-nav button {
    border: 1px solid hsl(256, 26%, 20%);
  }

  .main-nav button a {
    color: hsl(256, 26%, 20%);
  }

  /* MAIN BODY STYLES */

  main {
    margin: 0 auto;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10rem;
  }

  .intro img {
    max-width: 400px;
    position: absolute;
    right: 25%;
    top: 120px;
  }

  .content {
    position: relative;
    right: 60%;
    text-align: left;
    width: 25%;
  }

  .three-col-heading { 
    margin: auto;
    max-width: 900px;
    text-align: left;
  }
  
  .three-col {
    display: flex;
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 900px;
  }

  .how-we-work {
    align-items: center;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    display: flex;
    justify-content: space-around;
    margin: 0 auto 6rem;
    max-width: 900px;
  }

  /* FOOTER AND SOCIAL STYLES */

  .social, 
  footer {
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .social {
    border-bottom: 1px solid #999999;
    border-width: 80%;
  }

  .social,
  footer {
    display: flex;
  }

  .social,
  footer {
    justify-content: space-around;
  }

  footer hr {
    display: none;
  }

}