@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
  --lime-green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: var(--grey-900);
  color: var(--white);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: normal;
  height: 100vh;
  text-align: center;
}

main {
  background-color: var(--grey-800);
  max-width: 37.5rem;
  padding: 2rem;
}

img {
  border-radius: 50%;
  padding-bottom: 1rem;
  width: 8rem;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1rem 0;
}

h2 {
  color: var(--lime-green);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

a.link {
  background-color: var(--grey-700);
  border-radius: 1rem;
  color: var(--white);
  display: block;
  font-weight: 600;
  margin: 1.4rem 0;
  padding: 1.5rem 0;
  text-align: center;
  text-decoration: none;
}

a.link:hover {
  background-color: var(--lime-green);
  color: var(--grey-900);
}