:root {
  font-size: 16px;
}

body {
  background-color: hsl(240, 75%, 98%);
  color: hsl(243, 87%, 12%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: auto;
  max-width: 375px;
  text-align: center;
}

h1,
h2,
h3,
button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
}

header img {
  align-self: center;
  display: inline-block;
  height: auto;
  width: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  font-size: 0.8rem;
  padding: 0.5rem;
}

nav a {
  color: inherit;
}

input {
  border: 1px solid hsl(0, 0%, 75%);
  display: block;
  height: 36px;
  width: 100%;
}

button {
  background-color: hsl(224, 93%, 58%);
  border: none;
  box-shadow: 3px 2px 2px hsl(0, 0%, 25%);
  color: #ffffff;
  height: 36px;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  width: 100%;
}

blockquote {
  background-color: #ffffff;
  font-size: 0.9rem;
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;
}

blockquote span {
  font-weight: 700;
}

.intro,
.secondary,
.quote {
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}

.fylo-works {
  text-align: center;
}

.fylo-works a {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
}

.avatar {
  border-radius: 100%;
  float: left;
  padding-right: 0.5rem;
  width: 50px;
}

.avatar ~ p {
  font-size: 0.8rem;
  padding: 0;
}

.early-access {
  background-color: hsl(238, 22%, 44%);
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.company-links {
  background-color: hsl(243, 87%, 12%);
  color: #ffffff;
  line-height: 2;
  padding: 2rem 0;
  text-align: left;
}

.contact-info > img {
  margin-left: 2rem;
}

.company-links li {
  list-style: none;
}

.contact-info,
.about,
.terms-privacy-info {
  text-align: left;
}

.icon {
  padding-right: 0.5rem;
}

.social {
  font-size: 1rem;
  text-align: center;
}

.social i {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 0.5rem;
}

.mob-hide {
  display: none;
}

@media screen and (min-width: 900px) {
  body {
    background-color: #fff;
    max-width: 100%;
    text-align: left;
  }

  .mob-hide {
    display: block;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  img {
    height: auto;
    max-width: 50%;
  }

  header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  input,
  button {
    width: 300px;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .intro,
  .secondary {
    margin-bottom: 0;
    padding: 3rem 2rem;
  }

  .intro,
  .secondary {
    display: flex;
  }

  .intro img,
  .secondary img {
    align-self: center;
    max-height: 100vh;
    order: 2;
  }

  .secondary {
    background-color: hsl(240, 75%, 98%);
  }

  .fylo-works {
    text-align: left;
  }

  blockquote {
    float: left;
    max-width: 60%;
  }

  .early-access {
    align-items: center;
    display: flex;
    padding: 2rem;
    text-align: left;
  }

  .early-access h3 {
    font-size: 1.5rem;
  }

  .early-access-text,
  .early-access-signup {
    width: 50%;
  }

  .early-access-signup {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
  }

  .early-access button {
    padding: 0.5rem;
    width: auto;
  }

  .company-links {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-around;
    padding: 4rem;
  }

  .contact-info {
    float: left;
  }

  .social {
    align-self: center;
  }
}
