:root {
  font-size: 16px;
}

body {
  background-color: hsl(240, 75%, 98%);
  color: hsl(243, 87%, 12%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: auto;
  max-width: 320px;
}

h1,
h2,
h3,
button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
}

header img {
  align-self: flex-start;
  display: block;
  width: 100px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

nav li {
  font-size: 0.8rem;
  padding: 0.5rem;
}

input,
button {
  border-radius: 0.25rem;
  display: block;
  max-width: 100%;
  width: 300px;
}

button {
  background-color: hsl(224, 93%, 58%);
  color: #ffffff;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

blockquote {
  background-color: #ffffff;
  font-size: 0.9rem;
  padding: 1rem;
}

blockquote span {
  font-weight: 700;
}

.fylo-works {
  text-align: center;
}

.fylo-works a {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
}

.avatar {
  border-radius: 100%;
  float: left;
  padding-right: 0.5rem;
  width: 50px;
}

.avatar ~ p {
  font-size: 0.8rem;
  padding: 0;
}

.early-access {
  background-color: hsl(238, 22%, 44%);
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.company-links {
  background-color: hsl(243, 87%, 12%);
  color: #ffffff;
  text-align: center;
}

.company-links li {
  list-style: none;
}

.contact-info,
.about,
.terms-privacy-info {
  text-align: left;
}

.icon {
  padding-right: 0.5rem;
}

.social {
  font-size: 1rem;
  text-align: center;
}

.social i {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 0.5rem;
}
