@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  font-size: 62.5%; /*10px*/
  /* primary colours */
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
--red-400: hsl(0, 100%, 66%);
  /* neutral colours */
--white: hsl(0, 100%, 100%);
--gray-200: hsl(270, 3%, 87%);
--gray-400: hsl(212, 12%, 71%);
--purple-950: hsl(278, 68%, 11%);

--font-stack: "Space Grotesk", sans-serif;
}

body {
  border: 1px solid var(--purple-950);
  font-family: var(--font-stack);
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 auto;
  width: 37.5rem;
}

.background-card {
  background-image: url('../images/bg-card-back.png');
  z-index: 1;
}

.background-card div {
  background-color: var(--gray-200);
  color: var(--white);
  font-size: 1.2rem;
}

.purple-card {
  background-image: url('../images/bg-card-front.png');
  text-align: center;
  /* z-index: 10; */
}

.purple-card span {
  color: var(--gray-200);
  font-size: 1.2rem;
}

.purple-card span:first-child {
  font-size: 1.4rem;
}

.ty-message {
  /* hide initially */
  display: none;
}

/* form styles */
form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form label {
  align-self: flex-start;
  color: var(--purple-950);
  font-size: 1.2rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

form input:not([id=year], [id=month], [id=cvc]) {
  padding: 1rem;
  width: 320px;
}

.card-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6px;
}

.card-details input {
  box-sizing: border-box;
  width: 100%;
}

/* Make expiry fields sit side by side */
.expiry-details {
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-bottom: 1rem;
  padding: 0;

}

.expiry-details legend {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  grid-column: 1 / -1;
}

.cvc-group {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--purple-950);
  border: 1px solid var(--purple-950);
  color: var(--gray-200);
  outline: 0;
  padding: 1rem;
}