@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  font-size: 62.5%; /*10px*/
  /* primary colours */
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
--red-400: hsl(0, 100%, 66%);
  /* neutral colours */
--white: hsl(0, 100%, 100%);
--gray-200: hsl(270, 3%, 87%);
--gray-400: hsl(212, 12%, 71%);
--purple-950: hsl(278, 68%, 11%);

--font-stack: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 auto;
  width: 37.5rem;
}

#cards {
  background-color: var(--purple-950);
  min-height: 50vh;
  position: relative;
}

.card-back,
.purple-card {
  position: absolute;
  width: 320px;
}

.card-back {
  left: 6rem;
  top: 3rem;
}

.card-back div {
  background: transparent;
  color: var(--gray-200);
  font-size: 1rem;
  position: absolute;
  top: 7rem;      /* adjust to match the CVC spot */
  right:7rem;
  z-index: 2;
}

.purple-card {
  color: var(--gray-200);
  left: 2rem;
  top: 14rem;
}

.purple-card div.details {
  left: 5.5rem;
  position: absolute;
  top: 7rem;
}

.purple-card .holder {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.card-back img,
.purple-card img {
  display: block;
  max-width: 90%;
}

.ty-message {
  /* hide initially */
  display: none;
}

/* form styles */
form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form label {
  align-self: flex-start;
  color: var(--purple-950);
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

form input:not([id=year], [id=month], [id=cvc]) {
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 320px;
}

form input::placeholder {
  color: var(--gray-200);
  font-size: 1.6rem;
}

.expiry-details input#month, input#year, input#cvc {
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
  outline: 0;
  padding: 1rem;
}


.card-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6px;
}

.card-details input {
  box-sizing: border-box;
  width: 100%;
}

/* Make expiry fields sit side by side */
.expiry-details {
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-bottom: 1rem;
  padding: 0;
}

.expiry-details legend {
  font-size: 1.2rem;
  grid-column: 1 / -1;
  padding: 0.5rem;
  text-transform: uppercase;
}

.cvc-group {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--purple-950);
  border: 1px solid var(--purple-950);
  color: var(--gray-200);
  font-size: 1.6rem;
  outline: 0;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 76rem) {
  body {
    max-width: 100%;
  }
}