:root {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;

}

body {
  max-width: 375px;
  text-align: center;
}

.pattern-mob-top {
  position: absolute;
  left: 0;
  top: 0;
}

h1,
h2 {
  color: hsl(300, 43%, 22%);
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding: 2rem 1rem 0 1rem;
}

h1 + p {
  padding: 1rem;
}

h3, h4 {
  margin: 0;
}

h4 {
  color: hsl(333, 80%, 67%);
}

section img {
  border-radius: 50%;
  float: left;
  max-width: 3rem;
  padding-right: 1rem;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  background-image: url(./images/icon-star.svg),
  url(./images/icon-star.svg),
  url(./images/icon-star.svg),
  url(./images/icon-star.svg),
  url(./images/icon-star.svg);
  background-repeat: no-repeat, 
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;
  background-position: 120px top, 140px top, 160px top, 180px top, 200px top;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  margin: 1rem; 
}                  

.rating h2 {
  font-size: 0.9rem;
  padding: 1rem 0;
  margin: 0;
}

.review {
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}

@media(min-width:768px){
  body {
    margin: 0 auto;
    max-width: 1440px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }

  .pattern-mob-top {
    display: none;
  }

  .pattern-top {
    position: absolute;
    /* left: 0; */
    top: 0;
  }

  .intro {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }

  .intro h1 {
    text-align: left;
  }

  .rating {
    background-position: 46% top, 48% top, 50% top, 52% top, 54% top;
  }
}