:root {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

body {
  margin: auto;
  max-width: 375px;
}

.pattern-mob-top {
  position: absolute;
  left: 0;
  top: 0;
}

.pattern-top {
  display: none;
}

h1,
h2 {
  color: hsl(300, 43%, 22%);
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding: 2rem 1rem 0 1rem;
}

h1 + p {
  padding: 1rem;
}

h3, h4 {
  margin: 0;
}

h4 {
  color: hsl(333, 80%, 67%);
}

p {
  line-height: 1.7;
}

.intro p {
  text-align: center;
}

/* section img {
  border-radius: 50%;
  float: left;
  max-width: 3rem;
  padding-right: 1rem;
} */

.rating {
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.5rem;
  padding-top: 1rem;
  margin-top: 1rem;
  text-align: center;
}                  

.rating h2 {
  font-size: 0.9rem;
  padding: 1rem 0;
  margin: 0;
}

.review {
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  margin: 1rem;
  padding: 2rem;
  text-align: left;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(min-width:768px){
  body {
    margin: 0 auto;
    max-width: 1440px;
  }

  main {
    display: grid;
    grid-template-areas: 
    "intro intro ratings"
    "intro intro ratings"
    "reviews reviews reviews"
  }

  .pattern-mob-top {
    display: none;
  }

  .pattern-top {
    position: absolute;
    top: 0;
  }

  .intro {
    grid-area: intro;
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  .intro h1,
  .intro p {
    margin: 0;
    text-align: left;
  }

  .ratings {
    display: flex;
    flex-direction: column;
  }
  
  .rating {
    display: flex;
    grid-area: rating;
  }

  .reviews {
    display: flex;
    grid-area: reviews;
    padding-top: 3rem;
  }

  .reviews:last-child {
    border: 3px solid orange;
  }

  .review {
    max-width: 33%;
  }

  .attribution {
    position: absolute;
    bottom: 0;
  }
}